<%= turbo_frame_tag "new_message", target: "_top" do %>
  <%= form_with(model: [ @message.denounce, @message ]) do |form| %>
    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_field :content %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

