<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @denounce %>

<%= turbo_frame_tag 'denounce' do %>
  <%= render @denounce %>

  <div>
    <%= link_to "Edit this denounce", edit_denounce_path(@denounce) %> |
    <%= link_to "Back to denounces", denounces_path, "data-turbo-frame": "_top" %>
  </div>
<% end %>
<div id="messages">
  <%= render @denounce.messages %>
</div>
<%= turbo_frame_tag "new_message", src: new_denounce_message_path(@denounce), target: "_top" %>
